* {
	box-sizing: border-box;
}

body {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

/* 面板 */
.panel {
	border: 2px solid #767676;
}

/* 面板标题 */
.panel-title {
	background-color: #3399FF;
	height: 30px;
	width: 100%;
	padding: 3px;
}

/* 表单面板 */
#formPanel {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 400px;
	height: 350px;
}

/* 结果面板 */
#resultPanel {
	position: absolute;
	left: 420px;
	top: 10px;
	width: 400px;
	height: 350px;
}

/* 表达式面板 */
#expressionPanel {
	position: absolute;
	left: 10px;
	top: 370px;
	width: 810px;
	height: 230px;
}

/* 表达式 */
#expression {
	width: 495px;
	height: 150px;
	float: left;
	border-left: 0;
}

/* 表达式列表 */
#expressionList {
	width: 311px;
	height: 150px;
}

/* 控制栏 */
#controlBar {
	position: relative;
	width: 100%;
	clear: both;
	padding: 3px;
}

/* 控制栏右侧 */
#controlBarRight {
	float: right;
}

#result {
	padding: 3px;
}

#formPanel button,
#resultPanel button {
	margin-left: 3px;
}